run = "npm run start"

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "npm install --prefix server && npm install --prefix client --include=dev && npm run build --prefix client"]
run = ["sh", "-c", "npm run start --prefix server"]

[[ports]]
localPort = 5000
externalPort = 80
